h1 {
  background-color: #ff7f24;
  color: white;
  font-family: "Lato", sans-serif;
}
h2 {
  background-color: #faffe8;
  font-family: "Lato", sans-serif;
}
.center {
  margin: auto;
  position: relative;

  padding: 10px;
  text-align: center;
  background-color: #caed4c;
  height: 200px;
  width: 600px;
}
#bg {
  position: fixed;
  top: 0;
  left: 0;

  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
}
